*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif ;
}
.aHeader{
    height: 28vh;
    width:100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    
}
.mobile-icon{
    display: none;
}
.aHeader-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 20px;

}
.aleft{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aLeftLogo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aLeftLogo > a img{
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-right: 15px;
}
.aLeftLogo > a {
    text-decoration: none;
    text-decoration-line: none;
}
.aLeftLogo > a p{
    font-family: 'Anton', sans-serif;
    color: black;
    font-size: 14px;
    margin-right: 5px;
}
.aLeftLine{
    width: 2px;
    height: 40px;
    background: rgba(161, 159, 159, 0.1);
}
.aleftDesc{
    margin-left: 10px;
}
.aleftDesc p{
    font-weight: bold;
    width: 70%;
    line-height: 13px;
    font-size: 14px;
}
.aMiddle{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.aMiddleAddress{
    margin-right: 10px;
}
.aMiddleAddress p{
    font-weight: bold;
}
.mainAdd{
    text-transform: uppercase;
    font-weight: 300;
}
.aMiddleLine{
    width: 1px;
    height: 40px;
    background: black;
}
 .aHeader button a {
    width: 10%;
    text-decoration: none;
    text-decoration-line: none;
}
.contactButton{
    width: 15%;
    height: 90px;
    background: rgb(30, 130, 245);
    margin-left: 10px;
    margin-right: 0;
    outline: none;
    border: none;
}
.contactButton a{
    color: white;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
.contactButton:hover{
    background: rgb(2, 2, 31);
}
.aHeaderLine{
    width: 100%;
    height: 2px;
     background: rgba(161, 159, 159, 0.1);
     margin-top: -20px;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header-main nav ul{
    list-style-type: none;

}
.header-main nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.header-main nav ul li a{
    text-decoration: none;
    color: black;
    padding: 20px 0px 30px 0px;
    font-weight: bold;
}
.header-main nav ul li a:hover{
    border-bottom: 2px solid blue;
}
.header-icon{
    padding-right: 40px;
}
.header-icon a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 20px;
}
.aboutUs-Title{
    height: 50vh;
     background-image:linear-gradient(8deg, rgba(4,4,4,0.7651435574229692) 0%, rgba(0,0,0,0.8743872549019608) 35%), url("../images/image-result-for-business-contracts-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutUs-Title h1{
    font-family: 'Joan', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}
.mainSec{
    height: 10vh;
    background:rgb(2, 2, 20);
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}
.mainSec-title{
    padding: 20px 40px;
    display: flex;
    justify-content:start;
    align-items: center;
    margin-left: 50px;
}
.mainSec-title a{
    text-decoration: none;
    color:rgb(212, 211, 211);
    font-size: 16px;
    margin-right: 10px;
}
.mainSec-title div{
    width: 1px;
    height: 30px;
    background: white;
    margin-right: 10px;

}
.mainSec-title p{
    font-size: 16px;
    margin-top: 10px;
}
.sec-over{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}
.left-over{
    width: 60%;
}
.left-title h1{
    font-size: 24px;
    margin-top: 20px;
}
.left-title h2{
    font-family: 'Joan', sans-serif;
    font-weight: 300;
}
.left-title p{
    font-size: 16px;
    width: 90%;
    line-height: 20px;
    margin-bottom: 30px;
}
.left-img img{
    width: 45%;
    margin-right: 20px;
}
.left-subCont p{
    font-size: 24px;
    color: blue;
    margin-bottom: 40px;
}
.left-subCont ul li{
    margin-bottom: 20px;
}
.spacing{
    width: 80%;
    font-size: 16px;
    line-height: 25px;
}
.left-listing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    border: 1px solid rgb(194, 197, 197);
    font-size: 40px;
    padding: 20px;
    text-align: center;
    line-height: normal;
    overflow: hidden;

}
.right-over{
    width: 40%;
    margin-top: 30px;
}
.rightOver-p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.right-over nav ul{
    list-style-type: square;
}
.right-over nav ul li{
    margin-top: 30px;
}
.right-over nav ul li a{
    text-decoration: none;
    color: black;
}
.right-over nav ul li a:hover{
    color: blue;
}
.right-over nav ul .active a{
    color: blue;
}
.supportLink{
    margin-top: 30px;
    background: linear-gradient(90deg, rgba(6,4,24,1) 0%, rgba(0,13,68,1) 55%);
    padding: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.supportLink h1{
    font-family: 'Joan', sans-serif;
    color: white;
    font-size: 50px;
    line-height: 55px;
    font-weight: 400;
    margin-bottom: 20px;
}
.supportLink p{
    font-size: 20px;
    color: rgb(211, 211, 211);
    width: 90%;
    margin-bottom: 20px;
}
.supportLink a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(18, 168, 228);
    padding: 15px 25px;
    margin-top: 20px;
}
.supportLink a:hover{
    background: rgb(18, 168, 228);
}
.footer{
    height: 100vh;
    background-image: linear-gradient(90deg,rgba(64,63,65,0.7651435574229692) 0%, rgba(0,0,0,0.9500175070028011) 35%), url('../images/LAWYERS.jpg');
    color: white;
    padding: 0 30px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;

}
.footLeft{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.footLeftLogo{
    display: flex;
    justify-content: space-around;
}
.footLeftLogo >img{
    width:70px;
    height: 50px;
}
.footLeftLogo > p{
   font-family: 'Anton', sans-serif;
   font-size: 16px;
   margin-top: 10px;
   margin-left: 10px;
}
.footLineLogo{
    width: 2px;
    height: 40px;
    background:rgb(147, 148, 148);
}
.footLogoDesc{
    color:rgb(194, 197, 197);
    font-size: 20px;
}
.footLogoDesc >p{
    width: 70%;
}
.footMiddle,.footRight{
    width: 50%;
}
.footMiddle >p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 30px;
}
.footMiddle nav ul{
   list-style-type: none;
}
.footMiddle nav ul li{
    margin-bottom: 20px;
}
.footMiddle nav ul li a{
    text-decoration: none;
    color: rgb(194, 197, 197);
}
.footMiddle nav ul li a:hover{
    color:rgb(18, 168, 228);
}
.footLineT{
    width: 100%;
    height: 1px;
    background-color: rgb(224, 223, 223);
}
.footwrapperTwo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fTwoL{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fTwoL p{
    margin-right: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;

}
.fTwoLTitle{
    text-transform: uppercase;
    color:rgb(138, 137, 137);
    font-weight: none;
    margin-right: 5px;
}
.fTwoR a{
    text-decoration: none;
    background-color: white;
    padding: 15px 25px;
    color: blue;
    font-weight: bold;
}
.fTwoR a:hover{
    background-color: teal;
    color: white;
}
.footerLabel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    color: rgb(231, 226, 226);
}
@media only screen and (max-width:768px){
    .aHeader{
    height: inherit;
}
.aHeader-wrapper{
    padding: 10px 0 20px 5px;
}
.aMiddle{
    font-size: 10px;
    text-align: center;
}
.aMiddleAddress{
    margin-right: 5px;
}
.contactButton a{
    font-size: 10px;
    padding: 5px;
}
.aboutUs-Title h1{
    font-size: 40px; 
    text-align: center;
}
.sec-over{
    padding: 20px;
}
.left-over{
    margin-right: 15px;
}
.left-title h1{
    font-size: 20px;
}
.left-title p{
    font-size: 14px;
}
.left-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lConLeft{
    padding: 20px;
}
.lConLeft > h2{
    line-height: normal;
}
.right-over nav ul li{
    margin-top: 15px;
}
    .supportLink{
    padding: 30px;
   margin-left: -20px;
   margin-bottom: -20px;
}
.supportLink h1{
    font-size: 40px;
    line-height: normal;
}

/* Footer Section */
.footer{
    height: inherit;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footLeft{
    width: 100%;
}
.footLeftLogo >img{
    height: 40px;
}
.footLeftLogo > p{
   font-size: 18px;
   margin-left: 5px;
}
.footLogoDesc{
    font-size: 16px;
}
.fTwoL p{
    margin-right: 5px;
    font-size: 12px;
    font-weight: normal;
}
.fTwoR a{
    padding: 10px;
    font-size: 14px;
}


}
@media only screen and (max-width: 538px){
.aMiddle,.aLeftLine,.aleftDesc{
    display:none;
}
.aHeader{
    height: inherit;
}
    .aHeader-wrapper{
    justify-content: space-around;
    padding: 10px 0 20px 5px;
}
.aleft{
    width: 50%;
    margin-left: -40px;
}
.aLeftLogo > a img{
    margin-right: 0;
    width: 30px;
    height: 40px;
}
.aLeftLogo > a p{
    font-size: 13px;
}
.contactButton{
    width: 50%;
    margin-left: 30px;
    height: 50px;
}
.contactButton a{
    font-size: 14px;
}
.header-main{
    margin: 20px 0;
    position: relative;
}
.mobile-icon{
    display: block;
    margin-left: 10px;
    width: 70%;
}
.mobile-icon i{
    font-size: 25px;
   padding-bottom: 10px;   
}
.icon-re{
    margin-left: 0;
    display: none;
}
.header-icon{
    width: 30%;
    margin-left: 80px;
}
.header-icon a{
    margin-right: 5px;
}
.header-icon a:last-child{
    margin-right: 0;
}
.header-main nav{
    display: none;
    width: 100%;
    position: absolute;
    top: 30;
    background-color: rgb(245, 245, 245);
    padding: 20px 0;
}
.header-main nav ul li{
    display: block;
    margin-top: 10px;
}
.header-main nav ul li a:hover{
    border-bottom: none;
    color: blue;
}
/*End of Header Layout */
.aboutUs-Title{
   width: 100%;
   height: 40vh;
   padding: 0 20px;
}
.aboutUs-Title h1{
    font-size: 30px; 
    text-align: center;
}
.mainSec-title{
    padding: 20px;
    margin-left: 0;
}
.a-mainSecSub{
    font-size: 20px;
    line-height: 30px;
}
.sec-over{
    flex-direction: column;
    padding: 20px;
}
.left-listing{
    width: 100%;
    height: 200px;
    font-size: 20px;
    padding: 20px;

}
.left-over{
    width: 100%;
}
.left-title h1{
    font-size: 20px;
}
.left-title p{
    font-size: 14px;
    width: 100%;
}
.left-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftContent-wrapper{
    flex-direction: column;
}
.lConLeft{
    padding: 20px;
    margin-right: 0;
    margin-bottom: 3px;
}
.lConLeft > h2{
    line-height: normal;
}
.right-over{
    width: 100%;
}
.right-over nav ul li{
    margin-top: 15px;
}
    .supportLink{
    padding: 30px;
    width: 109%;
   margin-left: -20px;
   margin-bottom: -20px;
}
.supportLink h1{
    font-size: 40px;
    line-height: normal;
}

.footer{
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-wrapper{
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
}
.footLeft{
    width: 100%;
}
.footLeftLogo > img{
    width: 40px;
    height: 40px;
}
.footLeftLogo > p{
    font-size: 14px;
    width: 100%;
}
.footLogoDesc >p{
    width: 100%;
    font-size: 12px;
}
.footMiddle,.footRight{
    width: 100%;
}
.footMiddle > p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.footMiddle nav ul li{
    margin-bottom: 10px;
    margin-left: -20px;
}
.footwrapperTwo{
    padding: 10px;
    flex-direction: column;
    justify-content:left;
}
.fTwoL{
    flex-direction: column;
    justify-content: left;
}
.fTwoL p{
    margin-right: 0;
    font-size: 12px;
}
.fTwoR{
    margin: 20px 0;
}
.footerLabel{
    text-align: center;
}
}
@media only screen and (max-width: 325px){

    .aleft{
    margin-left: 0;
}
.aLeftLogo > a img{
    margin-right: 5px;
    width: 30px;
    height: 40px;
}
.contactButton{
    margin-left: 5px;
}
.mobile-icon{
    margin-left: 10px;
    width: 60%;
}
.header-icon{
    width: 40%;
    margin-left: 50px;
}
    .supportLink{
    padding: 30px;
    width: 115%;
   margin-left: -20px;
   margin-bottom: -20px;
}
}